*.class
*.tasty
*$.class
*.bsp/scala.json
*.scala-build/.bloop/immutabilite_238b85ad13-2f3dc6d919.json
*.scala-build/.bloop/immutabilite_238b85ad13-2f3dc6d919/immutabilite_238b85ad13-2f3dc6d919-analysis.bin
*.scala-build/ide-envs.json
*.scala-build/ide-inputs.json
*.scala-build/ide-launcher-options.json
*.scala-build/ide-options-v2.json
